@{
    ViewBag.Title = "Home Page";
}

<div class="field">
    <div id="sudoku">
        <div class="parentCube">
            <div class="childCube"><label id="Lbl00" /></div>
            <div class="childCube"><label id="Lbl10" /></div>
            <div class="childCube"><label id="Lbl20" /></div>
            <div class="childCube"><label id="Lbl01" /></div>
            <div class="childCube"><label id="Lbl11" /></div>
            <div class="childCube"><label id="Lbl21" /></div>
            <div class="childCube"><label id="Lbl02" /></div>
            <div class="childCube"><label id="Lbl12" /></div>
            <div class="childCube"><label id="Lbl22" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl30" /></div>
            <div class="childCube"><label id="Lbl40" /></div>
            <div class="childCube"><label id="Lbl50" /></div>
            <div class="childCube"><label id="Lbl31" /></div>
            <div class="childCube"><label id="Lbl41" /></div>
            <div class="childCube"><label id="Lbl51" /></div>
            <div class="childCube"><label id="Lbl32" /></div>
            <div class="childCube"><label id="Lbl42" /></div>
            <div class="childCube"><label id="Lbl52" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl60" /></div>
            <div class="childCube"><label id="Lbl70" /></div>
            <div class="childCube"><label id="Lbl80" /></div>
            <div class="childCube"><label id="Lbl61" /></div>
            <div class="childCube"><label id="Lbl71" /></div>
            <div class="childCube"><label id="Lbl81" /></div>
            <div class="childCube"><label id="Lbl62" /></div>
            <div class="childCube"><label id="Lbl72" /></div>
            <div class="childCube"><label id="Lbl82" /></div>
        </div> <br />
        <div class="parentCube">
            <div class="childCube"><label id="Lbl03" /></div>
            <div class="childCube"><label id="Lbl13" /></div>
            <div class="childCube"><label id="Lbl23" /></div>
            <div class="childCube"><label id="Lbl04" /></div>
            <div class="childCube"><label id="Lbl14" /></div>
            <div class="childCube"><label id="Lbl24" /></div>
            <div class="childCube"><label id="Lbl05" /></div>
            <div class="childCube"><label id="Lbl15" /></div>
            <div class="childCube"><label id="Lbl25" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl33" /></div>
            <div class="childCube"><label id="Lbl43" /></div>
            <div class="childCube"><label id="Lbl53" /></div>
            <div class="childCube"><label id="Lbl34" /></div>
            <div class="childCube"><label id="Lbl44" /></div>
            <div class="childCube"><label id="Lbl54" /></div>
            <div class="childCube"><label id="Lbl35" /></div>
            <div class="childCube"><label id="Lbl45" /></div>
            <div class="childCube"><label id="Lbl55" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl63" /></div>
            <div class="childCube"><label id="Lbl73" /></div>
            <div class="childCube"><label id="Lbl83" /></div>
            <div class="childCube"><label id="Lbl64" /></div>
            <div class="childCube"><label id="Lbl74" /></div>
            <div class="childCube"><label id="Lbl84" /></div>
            <div class="childCube"><label id="Lbl65" /></div>
            <div class="childCube"><label id="Lbl75" /></div>
            <div class="childCube"><label id="Lbl85" /></div>
        </div> <br />
        <div class="parentCube">
            <div class="childCube"><label id="Lbl06" /></div>
            <div class="childCube"><label id="Lbl16" /></div>
            <div class="childCube"><label id="Lbl26" /></div>
            <div class="childCube"><label id="Lbl07" /></div>
            <div class="childCube"><label id="Lbl17" /></div>
            <div class="childCube"><label id="Lbl27" /></div>
            <div class="childCube"><label id="Lbl08" /></div>
            <div class="childCube"><label id="Lbl18" /></div>
            <div class="childCube"><label id="Lbl28" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl36" /></div>
            <div class="childCube"><label id="Lbl46" /></div>
            <div class="childCube"><label id="Lbl56" /></div>
            <div class="childCube"><label id="Lbl37" /></div>
            <div class="childCube"><label id="Lbl47" /></div>
            <div class="childCube"><label id="Lbl57" /></div>
            <div class="childCube"><label id="Lbl38" /></div>
            <div class="childCube"><label id="Lbl48" /></div>
            <div class="childCube"><label id="Lbl58" /></div>
        </div>
        <div class="parentCube">
            <div class="childCube"><label id="Lbl66" /></div>
            <div class="childCube"><label id="Lbl76" /></div>
            <div class="childCube"><label id="Lbl86" /></div>
            <div class="childCube"><label id="Lbl67" /></div>
            <div class="childCube"><label id="Lbl77" /></div>
            <div class="childCube"><label id="Lbl87" /></div>
            <div class="childCube"><label id="Lbl68" /></div>
            <div class="childCube"><label id="Lbl78" /></div>
            <div class="childCube"><label id="Lbl88" /></div>
        </div>
    </div>
    <div class="buttons">
        <form name="form">
            Rij:
            <select name="row">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br />
            Kolom:
            <select name="column">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br />
            Waarde:
            <select name="value">
                <option value="0" selected="selected">Leeg</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br />
        </form>
        <button id="VulIn">Vul In</button><br />
        <button id="Hint">Hint</button><br />
        <button id="Controleer">Controleer Alles</button><br />
        <button id="Reset">Reset Spel</button><br />
        <button id="Nieuw">Nieuw Spel</button><br />
        <button id="Cheat">Cheat Knop</button><br />
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            NewGame();
            $(VulIn).click(function () {
                var form = $(document.form);
                var data = JSON.stringify(form.serializeArray());
                var myjson = {};
                $.each(form.data, function () { myjson[this.name] = this.value; });
                console.log("sending data: " + myjson.data);
                $.ajax({
                    url: 'Sudoku.asmx/VulIn',
                    data: '{"name":"row","value":"1"}',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        ParseData(data)
                    },
                    error: function (data) {
                        alert('Er is een fout opgetreden bij het versturen van informatie');
                    }
                })
            })

            $(Hint).click(function () {
                $.ajax({
                    url: 'Sudoku.asmx/Hint',
                    data: '{ }',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        ParseData(data)
                    },
                    error: function (data) {
                        alert('Er is een fout opgetreden bij het versturen van informatie');
                    }
                })
            })

            $(Controleer).click(function () {
                $.ajax({
                    url: 'Sudoku.asmx/Controleer',
                    data: '{ }',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.d == true)
                        {
                            alert("Alles is (tot nu toe) correct!");
                        }
                        else
                        {
                            alert("Er zitten nog wat foutjes in je sudoku!");
                        }
                    },
                    error: function (data) {
                        alert('Er is een fout opgetreden bij het versturen van informatie');
                    }
                })
            })

            $(Reset).click(function () {
                $.ajax({
                    url: 'Sudoku.asmx/Reset',
                    data: '{ }',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        ParseData(data)
                    },
                    error: function (data) {
                        alert('Er is een fout opgetreden bij het versturen van informatie');
                    }
                })
            })

            $(Nieuw).click(function () {
                NewGame();
            })

            $(Cheat).click(function () {
                $.ajax({
                    url: 'Sudoku.asmx/Cheat',
                    data: '{ }',
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        ParseData(data)
                    },
                    error: function (data) {
                        alert('Er is een fout opgetreden bij het versturen van informatie');
                    }
                })
            })
        })

        function NewGame()
        {
            $.ajax({
                url: 'Sudoku.asmx/Nieuw',
                data: '{ }',
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    ParseData(data)
                },
                error: function (data) {
                    alert('Er is een fout opgetreden bij het versturen van informatie');
                }
            })
        }

        function ParseData(data)
        {
            $("#Lbl00").html(data.d[0]);
            $("#Lbl01").html(data.d[1]);
            $("#Lbl02").html(data.d[2]);
            $("#Lbl03").html(data.d[3]);
            $("#Lbl04").html(data.d[4]);
            $("#Lbl05").html(data.d[5]);
            $("#Lbl06").html(data.d[6]);
            $("#Lbl07").html(data.d[7]);
            $("#Lbl08").html(data.d[8]);

            $("#Lbl10").html(data.d[9]);
            $("#Lbl11").html(data.d[10]);
            $("#Lbl12").html(data.d[11]);
            $("#Lbl13").html(data.d[12]);
            $("#Lbl14").html(data.d[13]);
            $("#Lbl15").html(data.d[14]);
            $("#Lbl16").html(data.d[15]);
            $("#Lbl17").html(data.d[16]);
            $("#Lbl18").html(data.d[17]);

            $("#Lbl20").html(data.d[18]);
            $("#Lbl21").html(data.d[19]);
            $("#Lbl22").html(data.d[20]);
            $("#Lbl23").html(data.d[21]);
            $("#Lbl24").html(data.d[22]);
            $("#Lbl25").html(data.d[23]);
            $("#Lbl26").html(data.d[24]);
            $("#Lbl27").html(data.d[25]);
            $("#Lbl28").html(data.d[26]);

            $("#Lbl30").html(data.d[27]);
            $("#Lbl31").html(data.d[28]);
            $("#Lbl32").html(data.d[29]);
            $("#Lbl33").html(data.d[30]);
            $("#Lbl34").html(data.d[31]);
            $("#Lbl35").html(data.d[32]);
            $("#Lbl36").html(data.d[33]);
            $("#Lbl37").html(data.d[34]);
            $("#Lbl38").html(data.d[35]);

            $("#Lbl40").html(data.d[36]);
            $("#Lbl41").html(data.d[37]);
            $("#Lbl42").html(data.d[38]);
            $("#Lbl43").html(data.d[39]);
            $("#Lbl44").html(data.d[40]);
            $("#Lbl45").html(data.d[41]);
            $("#Lbl46").html(data.d[42]);
            $("#Lbl47").html(data.d[43]);
            $("#Lbl48").html(data.d[44]);

            $("#Lbl50").html(data.d[45]);
            $("#Lbl51").html(data.d[46]);
            $("#Lbl52").html(data.d[47]);
            $("#Lbl53").html(data.d[48]);
            $("#Lbl54").html(data.d[49]);
            $("#Lbl55").html(data.d[50]);
            $("#Lbl56").html(data.d[51]);
            $("#Lbl57").html(data.d[52]);
            $("#Lbl58").html(data.d[53]);

            $("#Lbl60").html(data.d[54]);
            $("#Lbl61").html(data.d[55]);
            $("#Lbl62").html(data.d[56]);
            $("#Lbl63").html(data.d[57]);
            $("#Lbl64").html(data.d[58]);
            $("#Lbl65").html(data.d[59]);
            $("#Lbl66").html(data.d[60]);
            $("#Lbl67").html(data.d[61]);
            $("#Lbl68").html(data.d[62]);

            $("#Lbl70").html(data.d[63]);
            $("#Lbl71").html(data.d[64]);
            $("#Lbl72").html(data.d[65]);
            $("#Lbl73").html(data.d[66]);
            $("#Lbl74").html(data.d[67]);
            $("#Lbl75").html(data.d[68]);
            $("#Lbl76").html(data.d[69]);
            $("#Lbl77").html(data.d[70]);
            $("#Lbl78").html(data.d[71]);

            $("#Lbl80").html(data.d[72]);
            $("#Lbl81").html(data.d[73]);
            $("#Lbl82").html(data.d[74]);
            $("#Lbl83").html(data.d[75]);
            $("#Lbl84").html(data.d[76]);
            $("#Lbl85").html(data.d[77]);
            $("#Lbl86").html(data.d[78]);
            $("#Lbl87").html(data.d[79]);
            $("#Lbl88").html(data.d[80]);
        }
    </script>
</div>